<!DOCTYPE html>
<html>
<head>
	<title>Books Home</title>
</head>
<body>
	<a href="logout">Logout</a>

	<h1>Welcome, {{request.session.name}}</h1>

	<h3>Recent Book Reviews:</h3>
	{% for x in books %}
		<p>Title: {{x.title}}</p>
		<p>Author: {{x.author}}</p>
	{% endfor %}

		<p>Reviewer: {{reviews.reviewed_by.name}}</p>
		<p>Rating: {{reviews.rating}}</p>
		<p>Review: {{reviews.reviewed_content}}</p>
	<h3>Other Books with Reviews</h3>
	{% for x in books %}
		<a href="books/{{x.id}}">{{x.title}}</a>
	{% endfor %}

</body>
</html>