<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Registration</h1>
	<form action="/register" method="post">
	    {% csrf_token %}
	    <p>Name: <input type="text" name="name"></p>
	    <p>Username: <input type="text" name="username"></p>
	    <p>Password: <input type="text" name="password"></p>
	    <p>Confirm PW: <input type="text" name="password_confirm"></p>
	    <input type="submit" value="Register" />
	</form>
	{% for x in request.session.errors %}
          <p>{{x}}</p>
    {% endfor %}

	<h1>Login</h1>
	<form action="/login" method="post">
	    {% csrf_token %}
	    <p>Username: <input type="text" name="username"></p>
	    <p>Password: <input type="text" name="password"></p>
	    <input type="submit" value="Login" />
	</form>
	{% for x in allusers%}
	<ol>
		<li>Name: {{x.name}}</li>
		<li>Username: {{x.username}}</li>
		<li>Password: {{x.password}}</li>
	</ol>
	{% endfor %}
	<br>
	<br>

	
</body>
</html>